<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Author:${Author} -->
<mapper namespace="${NameSpace}">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		 ${ColName}
    </sql>

	<!-- 对象返回定义 -->
	<resultMap type="${BeanPath}" id="${BeanMap}">
		<id column="${Key}" property="${KeyField}" />
		${MapDefault}
	</resultMap>

	<!-- 条件语句映射 -->
	<sql id="WhereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			${WhereSql}
		</trim>
	</sql>
	
	<!-- 查询（根据主键ID查询） -->
	<select id="getById" resultMap="${BeanMap}">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM ${TableName}
		 WHERE ${Key} = #{${KeyField}}
	</select>
	
	<!--删除：根据主键ID删除-->
	<delete id="deleteById">
		 DELETE FROM ${TableName}
		 WHERE ${Key} = #{${KeyField}}
	</delete>

	<!-- 添加 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="${Key}">
		 INSERT INTO ${TableName}
 			(<include refid="Base_Column_List" />) 
		 VALUES
 			(${InsertVal})
	</insert>
	
	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="${Key}">
		 INSERT INTO ${TableName}
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			${InsertSelectCol}
		</trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			${InsertSelectVal}
		</trim>
	</insert>

	<!-- 修 改-->
	<update id="updateById">
		 UPDATE ${TableName}
		 SET 
			 ${UpdateSQL}
		 WHERE ${Key} = #{${KeyField}}
	</update>
	

	<!-- 修 改 （匹配有值的字段） -->
	<update id="updateByIdSelective">
		 UPDATE ${TableName}
 		 <set> 
			${UpdateSelectSQL}
 		 </set>
		 WHERE ${Key} = #{${KeyField}}
	</update>
	
	<!-- 查询分页list -->
	<select id="listEntity" resultMap="${BeanMap}">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM ${TableName}
		 <include refid="WhereSql"/>
	</select>

</mapper>